@model IEnumerable<WebApplication2rrr.Models.Phone>
@{
    ViewData["Title"] = "Телефон";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<body>
    <h3>Оформление заказа</h3>

    @*<div class="phone-info">
        <p>Смартфон: @Model.Name</p>
        <p>Цена: @Model.Price</p>
    </div>*@

    <form method="post">
        <input type="hidden" value="@ViewBag.PhoneId" name="PhoneID" />
        <label>Имя:</label>
        <input type="text" name="name" /> <br />

        <label>Телефон:</label>
        <input type="text" name="phone" /> <br />

        <label>Адрес:</label>
        <input type="text" name="adress" /> <br />

        <input type="submit" name="btn" value="Оформить заказ" />
    </form>
</body>
</html>
