@model IEnumerable<WebApplication2rrr.Models.Phone>
@{
    ViewData["Title"] = "Телефон";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфон</h3>
</body>
</html>
