@model WebApplication2rrr.Models.User
@{
    ViewData["Title"] = "УРА";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Заказ</title>
</head>
<body>
    <h3>@Model.Name, Ваш заказ оформлен успешно!</h3>
</body>
</html>
